.conteudo-principal {
  background: url(../img/drugsBg2.jpg) no-repeat center/cover;
  background-attachment: fixed;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  width: 100%; }

.conteudo-principal__titulo {
  bottom: 5%;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-50%);
  width: auto;
  height: auto; }
  .conteudo-principal__titulo .conteudo-principal__titulo--img {
    transition: 1s all;
    width: 22em; }
    .conteudo-principal__titulo .conteudo-principal__titulo--img:hover {
      transform: scale3d(1.1, 1.1, 1.1); }
    @media screen and (min-width: 601px) {
      .conteudo-principal__titulo .conteudo-principal__titulo--img {
        width: 40em; } }
