.conteudo-informacao{
    background-color: $cor-preta;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    height: auto;
    min-height: 100vh;
}
.conteudo-informacao-container{
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    margin: 0 auto;
    max-width: 1140px;
    padding: 2em;
    opacity: 0;
}
.animation{
    animation: fromTop .6s;
    opacity: 1;
}
.conteudo-informacao__sinopse{
    color: $cor-branca;
    font-weight: 800;
    white-space: pre-wrap;
    width: 100%;
    .conteudo-informacao__sinopse__kubrick{
        color: $cor-principal;
        font-size: 2em;
        font-family: $font-Anton;
        text-transform: uppercase;
    }
    p{
        line-height: 1.85em;
        text-align: left;
    }
}
.conteudo-informacao__detalhes{
    margin-top: 3em;
    width: 100%;
    .conteudo-informacao__paragrafo{
        display: flex;
        color: $cor-branca;
        font-family: $font-Castoro;
        font-weight: 800;
        line-height: 1.75em;
        margin-top: 2em;
        @media screen and (max-width: 999px) {
            flex-wrap: wrap;
        }
            strong{
                color: $cor-principal;
                display: inline-block;
                font-weight: 600;
                min-width: 180px;
                padding-right: 2em;
                text-transform: uppercase;
            }
    }   
}

//estilo desktop
@media screen and (min-width: 1000px){
    .conteudo-informacao-container{
        flex-direction: row;
        margin: 5em auto 5em auto;
    }
    .conteudo-informacao__sinopse{
        width: 60%;
    }
    .conteudo-informacao__detalhes{
        margin-left: 5em;
        margin-top: 0;
        width: 60%;
    }
}

@keyframes fromTop{
    from{
        transform: translate3d(0, 50px, 0);
    }
    to{
        transform: translate3d(0, 0, 0);
    }
}
