.menu__hamburguer {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    left: .8em;
    margin: .5em 0;
    padding: 20px 20px 0 20px;
    position: relative;
    outline: none;
    transform: translateZ(0);
    top: .5em;
    user-select: none;
    width: 2.5em;
    .linha{
      background: $cor-branca;
      border-radius: 4px;
      display: block;
      height: 2.5px;
      left: 0;
      opacity: 1;
      position: absolute;
      transform: rotate(0deg);
      transform-origin: left center;
      transition: .25s ease-in-out;
      width: 100%;
    }

    .linha:nth-of-type(1){
      top: 0px;
    }
    .linha:nth-of-type(2){
      top: 10px;
    }
    .linha:nth-of-type(3){
      top: 20px;
    }
    &.ativo{
      .linha:nth-of-type(1){
        top: 0;
        left: .5rem;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      .linha:nth-of-type(2){
       opacity: 0;
       width: 0%;
      }
      .linha:nth-of-type(3){
        top: 1.75rem;
        left: .5rem;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
}


