.header{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: .5s ease-in-out;
    &.information{
        background-color: $cor-principal;
    }
}
.header__watch{
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
        .header__watch__link{
        display: block;
        padding: .75em;
        font-size: 1.25em;
        color: $cor-branca;
        .fa-github{
            font-size: 1.25em; //Aumentar ícone redondo GitHub
        }
    }
}