.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 2; }

.header__watch {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center; }
  .header__watch .header__watch__link {
    display: block;
    padding: .75em;
    font-size: 1.25em; }
    .header__watch .header__watch__link .fa-github {
      font-size: 1.25em; }
