@import url("https://fonts.googleapis.com/css2?family=Padauk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Castoro&family=Open+Sans&display=swap");
body {
  cursor: url(../img/mouseIcon/arrowMouseIcon.ico) 2 2, default; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

.conteudo-principal {
  background: url(../img/drugsBg2.jpg) no-repeat center/cover;
  background-attachment: fixed;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  width: 100%; }

.conteudo-principal__titulo {
  bottom: 5%;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-50%);
  width: auto;
  height: auto; }
  .conteudo-principal__titulo .conteudo-principal__titulo--img {
    transition: 1s all;
    width: 22em; }
    .conteudo-principal__titulo .conteudo-principal__titulo--img:hover {
      transform: scale3d(1.1, 1.1, 1.1); }
    @media screen and (min-width: 601px) {
      .conteudo-principal__titulo .conteudo-principal__titulo--img {
        width: 40em; } }
