.sidebar {
  background-color: orange;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding: 3em 0;
  position: fixed;
  transition: .5s;
  top: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  z-index: 2; }

.sidebar__link {
  color: black;
  font-size: 1.1em;
  padding: 1em;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s all; }
  .sidebar__link:hover {
    transform: translateX(3%); }
