.conteudo-principal{
  background-color: $cor-preta;
}
.conteudo-principal-container{
  display: grid;
  grid-template-rows: 75% 25%;
  grid-template-columns: auto;
  height: 100vh;  
}
[data-control-i], [data-control-s]{
  cursor: pointer;
}
.conteudo-principal__galeria{
  display: block;
  grid-row: 1 / 2;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%;

  //Estilo dos botões 'anterior-próximo'
  .botao{
    color: $cor-branca;
    font-size: 1.25em;
    padding: 1em;
    text-decoration: none;
  }

  //Posicionamento dos botões 'anterior-próximo'
  [data-control-i]{
    position: absolute;
    top: 50%;
    transition: .2s ease-in-out;
    &:nth-of-type(1){
      left: 0;
      &:hover{ 
        transform: translateX(4px); 
      }    
    }

    &:nth-of-type(2){
      right: 0;
      &:hover{ transform: translateX(-4px); }        
    }
  }
}
.conteudo-principal__imagem{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  img{
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
  }
}

.conteudo-principal__sequencia{
  align-items: center;  
  display: flex;
  grid-row: 2 / 2;
  position: relative;

  [data-control-s]{
    background: linear-gradient(to left, rgba(22, 21, 21, 0.9), #131212);
    height: 100%;
    position: absolute;
    width: 1.85em;
    z-index: 1;
    //Ícone dos botões 'Anterior-Próximo'
    &::before{
      content: "";
      color: $cor-principal;
      border: 10px solid transparent;
      position: absolute; 
      top: 50%;
      width: 0;
      height: 0;
    }
    &.opaco{
      opacity: 0;
    }
    &:nth-of-type(1){
      left: 0;
      &::before{
        border-right-color: currentcolor;
        right:  20%;
      }
    }
    &:nth-of-type(2){
      right: 0;
      &::before{
        border-left-color: currentcolor;
        left: 20%;
      }
    }
  }
}

.container-carrossel{
  height: 100%;
  overflow: hidden;
  padding: .4em 0;
  scroll-behavior: smooth;
  width: 100%;
}

.container-carrossel .carrossel{
  display: flex;
  flex-wrap: nowrap;
  height: 100%;

  li{
    display: block;
    border: 3px solid $cor-principal;
    min-width: 25%;
    margin: 0 .3em;
    transition: .5s ease all;

    &.img-ativo{
        border: 3px solid $cor-preta;
        filter: blur(3px);
        opacity: .8;
    }
    img{
      cursor: pointer;
      border: transparent;
      height: 100%;
      width: 100%;
    }
  }
}

@media screen and (min-width: 992px){
  .conteudo-principal__imagem{
    display: block;
    margin: 0 0;
    img{
      height: 100%;
      width: 100%;
    }
  }
}